@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

p {
  margin: 0;
}

.react-swipeable-view-container {
  height: 100%;
}
